<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skrot och Mek AB</title>
    <link href="{{ url_for('static',filename='css/start.css') }}" rel="stylesheet">
</head>

<body>
    <div class="header">
        <a href="{{ url_for('start_page') }}">
            <img src="{{ url_for('static', filename='photos/Havet.png') }}"></a>
        <h1>Skrot och Mek AB</h1>
    </div>
    {{message}}
    <div class="container">
        <div class="manageProducts">
            <h2>Registrera ny produkt</h2>
            <form method="POST" enctype="multipart/form-data">
                <p> Produktnamn <input type="text" name="name" required="required" /></p>
                <p> Pris <input type="number" name="price" min="0" step="1" required="required" /></p>
                <p> Lager <input type="number" name="stock" min="0" step="1" required="required" /></p>
                <p> Beskrivning <textarea name="desc" rows="7" cols="40" required="required"></textarea></p>
                <p> Produktbild <input type="file" name="file" required="required" /></p>

                <p><input class="button button-add" input type="submit" name="submitButton"
                        value='Registrera produkt' />
                </p>
            </form>
        </div>
        <div class="manageProducts">
            <h2>Ta bort produkter</h2>
            <form method="POST">
                <label for="activeProduct">Välj produkt: </label>
                <select name="activeProduct" id="activeProduct">
                    {% for product in activeProductList %}
                    <option value="{{product[0]}}">{{product[1]}}</option>
                    {% endfor %}
                </select>
                <p><input class="button button-add" input type="submit" name="submitButton" value='Ta bort produkt' />
                </p>
            </form>
            <h2>Lägg till tidigare borttagna produkter</h2>
            <form method="POST">
                <label for="unactiveProduct">Välj produkt: </label>
                <select name="unactiveProduct" id="unactiveProduct">
                    {% for product in unactiveProductList %}
                    <option value="{{product[0]}}">{{product[1]}}</option>
                    {% endfor %}
                </select>
                <p><input class="button button-add" input type="submit" name="submitButton"
                        value='Lägg till produkt igen' /></p>
            </form>
        </div>
        <div class="manageProducts">
            <h2>Lägg till i lager</h2>
            <form method="POST" enctype="multipart/form-data">
                <label for="products">Välj produkt: </label>
                <select name="products" id="products">
                    {% for product in activeProductList %}
                    <option value="{{product[0]}}">{{product[1]}}</option>
                    {% endfor %}
                    {% for product in unactiveProductList %}
                    <option value="{{product[0]}}">{{product[1]}}</option>
                    {% endfor %}
                </select>
                <p> Antal <input type="number" name="amount" min="1" step="1" required="required" /></p>
                <p><input class="button button-add" input type="submit" name="submitButton"
                        value="Addera till lager" /></p>
            </form>
        </div>
        <div class="manageProducts">
            <h2>Uppdatera produkt</h2>
            <form method="POST" enctype="multipart/form-data">
                <label for="products">Välj produkt: </label>
                <select name="products" id="products">
                    {% for product in activeProductList %}
                    <option value="{{product[0]}}">{{product[1]}}</option>
                    {% endfor %}
                    {% for product in unactiveProductList %}
                    <option value="{{product[0]}}">{{product[1]}}</option>
                    {% endfor %}
                </select>
                <p> Produktnamn <input type="text" name="name" /></p>
                <p> Price <input type="number" name="price" min="0" step="1"/></p>
                <p> Beskrivning <textarea name="desc" rows="7" cols="40"></textarea></p>
                <p> Produktbild <input type="file" name="file" /></p>
                <p><input class="button button-add" input type="submit" name="submitButton"
                        value="Uppdatera produkt" /></p>
            </form>
        </div>
    </div>
</body>

</html>