<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cart</title>
	<link href="{{ url_for('static',filename='css/start.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
	<!-- Main Container -->
	<div class="header">
		<a href="{{ url_for('start_page') }}">
			<img src="{{ url_for('static', filename='photos/Havet.png') }}"></a>
		<h1>Skrot och Mek AB</h1>
	</div>

	<div class="container">
		<h1>{{message}}</h1>
		<div class="gallery gallery-review">
			{% for i in range(0, len)%}
			<div class="thumbnail thumbnail-cart">

				<h2>{{productDetails[i][1]}}</h4>
					<h4>Pris: {{productDetails[i][2]}} </h4>
					<h4>Antal: {{cartDetails[i][2]}} </h4>
					<form method="POST">
						<input type="hidden" name="productValue" value="{{productDetails[i][0]}}"></input>
						<p><input class="button button-cart" input type="submit" name="submitButton"
								value='Ta bort en' /></p>
					</form>
					<form method="POST">
						<input type="hidden" name="productValue" value="{{productDetails[i][0]}}"></input>
						<p><input class="button button-cart" input type="submit" name="submitButton"
								value='Ta bort alla' /></p>
					</form>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="container">
		<h2>{{total}}</h1>
			<form method="POST">
				<p><input class="button button-add" input type="submit" name="submitButton" value='Lägg order' /></p>
			</form>
			<form method="POST">
				<p><input class="button button-cart" input type="submit" name="submitButton" value='Töm varukorg' /></p>
			</form>
	</div>
</body>

</html>