<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login/Register</title>
    <link href="{{ url_for('static',filename='css/start.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- Main Container -->
    <div class="header">
        <a href="{{ url_for('start_page') }}">
            <img src="{{ url_for('static', filename='photos/Havet.png') }}"></a>
        <h1>Skrot och Mek AB</h1>
    </div>
    <div class="container">
        <h2>Logga in</h2>
        <form method="POST">
            <p> Email <input type="email" name="email" required="required" /></p>
            <p>Lösenord <input type="password" name="password" required="required" /></p>

            <p><input class="button button2" type="submit" value="Logga in" /></p>
        </form>
    </div>
    <div class="container">
        <h2>Registrera</h2>
        <form method="POST">
            <p>Namn <input type="text" name="name" required="required" /></p>
            <p>Telefonnummer <input type="text" name="number" required="required" /></p>
            <p> Email <input type="email" name="email" required="required" /></p>
            <p>Lösenord <input type="password" name="password" required="required" /></p>

            <p><input class="button button2" type="submit" value="Registrera" /></p>
            {{message}}
        </form>
    </div>
    <!-- Main Container Ends -->
</body>

</html>