<!doctype html>
<html>

<head>
    <title>Skrot och Mek AB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}">
</head>

<body>
    <div class="header">
        <a href="{{ url_for('start_page') }}">
            <img src="{{ url_for('static', filename='photos/Havet.png') }}"></a>
        <h1>Skrot och Mek AB</h1>
        {% if user %}
        <form method="POST">
            <button class="button" name="submitButton" value="Logga ut">Logga ut</button>
        </form>
        <form action="/cart">
            <button class="button">Kundvagn</button>
        </form>
        <form action="/user">
            <button class="button">{{user}}</button>
        </form>
        {% else %}
        <form action="/login">
            <button class="button"> Logga in Registrera </button>
        </form>
        {% endif %}
    </div>
    <img src="{{ url_for('static', filename='photos/'+prodData[0][5]) }}" alt="" class="cards" /></a>
    <h1>{{prodData[0][1]}}</h1>
    <p>{{prodData[0][4]}}</p>
    <p>Pris: {{prodData[0][2]}} kr</p>
    <p>I lager: {{prodData[0][3]}} st</p>
    <form method="POST">
        <p><input class="button button-add" input type="submit" name="submitButton" value='Lägg i kundvagn' /></p>
    </form>
    {% if error %}
    <p>{{error}}</p>
    {% endif %}
    <p>{{message}}</p>
    <form method="POST">
        <h3> Recensera produkten! </h3>
        <div class="grade">
            <input type="radio" id="grade1" name="grade" value="1" required="required">
            <label for="grade1">1</label>
            <input type="radio" id="grade2" name="grade" value="2" required="required">
            <label for="grade2">2</label>
            <input type="radio" id="grade3" name="grade" value="3" required="required">
            <label for="grade3">3</label>
            <input type="radio" id="grade4" name="grade" value="4" required="required">
            <label for="grade4">4</label>
            <input type="radio" id="grade5" name="grade" value="5" required="required">
            <label for="grade5">5</label>
        </div>
        <div>
            <p> Beskrivning </p>
            <textarea name="desc" rows='8' cols="65" maxlength="350"></textarea>
            <p><input class="button button-add" input type="submit" name="submitButton" value='Recensera produkt' /></p>
        </div>
    </form>
    <div class="gallery gallery-review">
        {% for review in reviewList %}
        <div class="thumbnail">
            <h4>{{review[4]}}</h4>
            <p class="text_column">Betyg: {{review[2]}}</p>
            <p class="text_column">{{review[3]}}</p>
        </div>
        {% endfor %}
    </div>

</body>

</html>