<!doctype html>
<html>

<head>
        <title>Home Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}">
</head>

<body>
        <div class="header">
                <a href="{{ url_for('start_page') }}">
                        <img src="{{ url_for('static', filename='photos/Havet.png') }}"></a>
                <h1>Skrot och Mek AB</h1>
                {% if user %}
                <form method="POST">
                        <button class="button">Logga ut</button>
                </form>
                <form action="/cart">
                        <button class="button">Kundvagn</button>
                </form>
                <form action="/user">
                        <button class="button">{{user}}</button>
                </form>
                {% else %}
                <form action="/login">
                        <button class="button"> Logga in Registrera </button>
                </form>
                {% endif %}
        </div>
        <div class="container">
                {% for product in productDetails %}
                <div class="thumbnail thumbnail-start">
                        <a href="{{ url_for('getProd', ID=product[0]) }}"><img
                                        src="{{ url_for('static', filename='photos/'+product[5]) }}" alt=""
                                        class="cards" /></a>
                        <h4>{{product[1]}}</h4>
                        <p class="text_column">{{product[4]}}</p>
                        <p class="text_column">Pris: {{product[2]}} kr</p>
                </div>
                {% endfor %}
        </div>
</body>

</html>