<!doctype html>
<html>

<head>
    <title>User page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}">
</head>

<body>
    <div class="header">
        <a href="{{ url_for('start_page') }}">
            <img src="{{ url_for('static', filename='photos/Havet.png') }}"></a>
        <h1>Skrot och Mek AB</h1>
        <form method="POST">
            <button class="button" name="submitButton" value="Logga ut">Logga ut</button>
        </form>
        {% if clientRole[0][0] == 'Admin'%}
        <form action="/upload">
            <button class="button">Ändra produkter</button>
        </form>
        {% endif %}
    </div>
    <div class="container">
        {% if clientRole[0][0] == 'Admin'%}
        <div class="manageUsers">
            {% else %}
            <div class="container">
                {% endif %}
                <h2>{{message}}</h2>
                <form method="POST">
                    <p>Ändra Namn <input type="text" name="name" /></p>
                    <p>Ändra Telefonnummer <input type="text" name="number" /></p>
                    <p>Ändra Email <input type="email" name="email" /></p>
                    <p>Ändra Lösenord <input type="password" name="password" /></p>

                    <p><input class="button button-add" type="submit" name="submitButton" value="Ändra inställningar" />
                    </p>
                </form>
            </div>
            {% if clientRole[0][0] == 'Admin'%}
            <div class="manageUsers">
                <h2>Ge användare admin roll</h2>
                <form method="POST">
                    <label for="assignAdmin">Välj användare: </label>
                    <select name="assignAdmin" id="assignAdmin">
                        {% for customer in customerList %}
                        <option value="{{customer[0]}}">{{customer[1]}}</option>
                        {% endfor %}
                    </select>
                    <p><input class="button button-role" input type="submit" name="submitButton"
                            value='Lägg till admin' />
                    </p>
                </form>
                <h2>Ta bort admin roll</h2>
                <form method="POST">
                    <label for="removeAdmin">Välj användare: </label>
                    <select name="removeAdmin" id="removeAdmin">
                        {% for admin in adminList %}
                        <option value="{{admin[0]}}">{{admin[1]}}</option>
                        {% endfor %}
                    </select>
                    <p><input class="button button-role" input type="submit" name="submitButton"
                            value='Ta bort admin' />
                    </p>
                </form>
            </div>

            <div class="manageUsers">
                <h2>Ta bort användare</h2>
                <form method="POST">
                    <label for="deleteUser">Välj användare: </label>
                    <select name="deleteUser" id="deleteUser">
                        {% for customer in customerList %}
                        <option value="{{customer[0]}}">{{customer[1]}}</option>
                        {% endfor %}
                    </select>
                    <p><input class="button button-user" input type="submit" name="submitButton"
                            value='Ta bort användare' />
                    </p>
                </form>
            </div>

            <div class="manageUsers">
                <h2>Ordrar från användare</h2>
                <form method="POST">
                    <label for="getOrders">Välj användare: </label>
                    <select name="getOrders" id="getOrders">
                        {% for customer in customerList %}
                        <option value="{{customer[0]}}">{{customer[1]}}</option>
                        {% endfor %}
                    </select>
                    <p><input class="button button-user" input type="submit" name="submitButton" value='Hämta ordrar' />
                    </p>
                </form>
            </div>
            {% endif %}
        </div>
        <h2>{{noOrders}}</h2>
        {% for i in range(0, orderLen)%}
        <div class="container">
            <h3>OrderID: {{orderArray[i][0][0]}}</h3>
            <div class="gallery gallery-review">
                {% for y in range(0, productLen[i])%}
                <div class="thumbnail">
                    <h2>{{productNameArray[i][y][0]}}</h4>
                        <h4>Pris: {{orderArray[i][y][4]}} </h4>
                        <h4>Antal: {{orderArray[i][y][3]}} </h4>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
</body>

</html>