@charset "UTF-8";
/* Body */
body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-color: #7D7572;
	margin: 0;
}
/* Container */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #7D7572;
}

.manageProducts {
	width: 20%;
	float:left;
	padding: 30px;
}

.footer {
	position: fixed;
	bottom: 0;
	height: 35 px;
	width:100%;
	color:#7D7572;
}

.manageUsers {
	width:21.5%;
	float:left;
	padding: 30px;
}
/* Header */
.header {
  background-color: #666;
  height:150px;
  font-size: 30px;
  color: white;
}

.header img {
  float: left;
  margin-top: 10px;
  width: 130px;
  height: 130px;
}

.header h1 {
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 25px;
	float:left;
	
}

.header button {
	float:right;
	margin-right: 50px;
}
.logo {
	color: #fff;
	font-weight: bold;
	margin-left: auto;
	letter-spacing: 4px;
	margin-right: auto;
	text-align: center;
	padding-top: 15px;
	line-height: 2em;
	font-size: 22px;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	letter-spacing: 4px;
}
/* About Section */
.text_column {
	width: 90%;
	text-align: left;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	height: 650px;
	background-color: #FFFFFF;
	min-width: 400px;
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}

.gallery-review {
	background-color: #5D5E5D;
	height:100%;
}
.thumbnail {
	width: 23%;
	height: 50%;
	text-align: center;
	float: left;
	margin-top: 35px;
	background-color: #F8F8F8;
	padding-bottom: 20px;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 3px;
	padding-top: 20px;
	border-bottom: 4px solid #6DC7D0;
}

.thumbnail-start {
	height: 450px;
}

.thumbnail-cart {
	height: 250px;
} 
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #52BAD5;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}
.gallery .thumbnail p {
	margin: 0;
	color: #B3B3B3;
	text-align: left;
	padding-left: 20px;
}

/* More info */
.intro {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
.intro .column h3 {
	color: #FFFFFF;
	text-align: center;
}
.intro .column p {
	color: #FFFFFF;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
	opacity: 0.8;
}
.cards2 {
	float:left;
	width: 100%;
	height: auto;
	max-width: 150px;
	max-height: 200px;
	opacity: 0.8;
}
.intro .column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
	width: 80%;
	margin-top: 4%;
}
.button {
	width: 150px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #5D5E5D;
	transition: all 0.2s linear;
}
.button2 {
	margin-top: 0px;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
}

.button-cart {
	float:left;
	margin-top:10px;
	width:40%;
	margin-right:5%;
	margin-left:5%;
}

.button:hover {
	background-color: #6DC7D0;
	color: #FFFFFF;
	cursor: pointer;
}
.button-add {
	width: 250px;
}

.button-role {
	width: 250px;
	margin-top: 4px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.button-user {
	width: 250px;
	margin-top: 4px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 160px;
}

.gallery .thumbnail .tag {
	color: #5D5E5D;
	padding-bottom: 4px;
	padding-top: 4px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}
